@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
h1 {
  font-family: 'Potta One', cursive;
}

div {
  width: 500px;
  padding: 50px;
  margin: 40px;
  background-color: lightgrey;
}

li {
  font-family: 'Roboto';
}

#ingredients li {
  font-family: Roboto;
}

#ingredients li span {
  font-style: italic;
  color: #999;
}

#ingredients li:nth-child(4) {
  color: blueviolet;
}

#equipment li:nth-child(5) {
  color: blueviolet;
}

#directions {
  font-family: Roboto;
}

#notes {
  font-family: Roboto;
}

body {
  border-style: dot-dash;
  border-top: 5px;
  border-bottom: 5px;
  border-left: 10px solid #900;
  border-right: 10px solid #900;
  box-sizing: border-box;
  cursor: url(3work.ani);
}